<a href='http://warpedimagination.com' target='_blank'>
	<div class='exhibitor-img-cont'>
		<img class='exhibitor-img' src="<%= asset_path('WarpedImagination.png') %>" />
	</div>
</a>
<div class='exhibitor-img-cont clearfix'>
	<a href='http://www.vrlive.com/' target='_blank'>
		<div class='exhibitor-img-cont half'>
			<img class='exhibitor-img' src="<%= asset_path('VRLive.png') %>" />
		</div>
	</a>
	<a href='http://www.360heros.com/' target='_blank'>
		<div class='exhibitor-img-cont half'>
			<img class='exhibitor-img' src="<%= asset_path('360Heroes.png') %>" />
		</div>
	</a>
</div>
<a href='http://www.vrideo.com' target='_blank'>
	<div class='exhibitor-img-cont'>
		<img class='exhibitor-img' src="<%= asset_path('VRideo.png') %>" />
	</div>
</a>

<a href='http://www.ovalintegration.com/' target='_blank'>
	<div class='exhibitor-img-cont'>
		<img class='exhibitor-img' src="<%= asset_path('Oval.png') %>" />
	</div>
</a>
<a href='http://www.otherworldinteractive.com' target='_blank'>
	<div class='exhibitor-img-cont'>
		<img class='exhibitor-img' src="<%= asset_path('Otherworld.png') %>" />
	</div>
</a>
<a href='http://www.sidekickvrgames.com' target='_blank'>
	<div class='exhibitor-img-cont'>
		<img class='exhibitor-img' src="<%= asset_path('Sidekick.png') %>" />
	</div>
</a>

<a href='https://www.microsoft.com/en-us/default.aspx' target='_blank'>
	<div class='exhibitor-img-cont'>
		<img class='exhibitor-img' src="<%= asset_path('Microsoft.png') %>" />
	</div>
</a>
<div class='exhibitor-img-cont clearfix'>
	<a href='http://funktroniclabs.com/collider' target='_blank'>
		<div class='exhibitor-img-cont half'>
			<img class='exhibitor-img' src="<%= asset_path('Funktronic.png') %>" />
		</div>
	</a>
	<a href='http://www.otoy.com' target='_blank'>
		<div class='exhibitor-img-cont half'>
			<img class='exhibitor-img' src="<%= asset_path('Otoy.png') %>" />
		</div>
	</a>
</div>
<a href='http://www.templegatesgames.com/' target='_blank'>
	<div class='exhibitor-img-cont'>
		<img class='exhibitor-img' src="<%= asset_path('Bazaar.png') %>" />
	</div>
</a>