<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('DuncanTrussel.jpg') %>" />
	<p class='speaker-info name'>DUNCAN TRUSSELL</p>
	<p class='speaker-info'>Host of the Duncan Trussell Family Hour Podcast, Comdeian, VR Evangelist</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('DaveTaylor.jpg') %>" />
	<p class='speaker-info name'>DAVE TAYLOR</p>
	<p class='speaker-info'>Game Producer, Developer on Doom and Quake</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('JonnieRoss.jpg') %>" />
	<p class='speaker-info name'>JONNIE ROSS</p>
	<p class='speaker-info'>Co-Founder at VRLA</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('JimWillson.jpg') %>" />
	<p class='speaker-info name'>JIM WILLSON</p>
	<p class='speaker-info'>Director, Immersive Products & VR at Samsung</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('MatthewGratzner.jpg') %>" />
	<p class='speaker-info name'>MATTHEW GRATZNER</p>
	<p class='speaker-info'>Director, Designer, VR, VFX & Co-Founder at NewDealStudios</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('AlexRosenfeld.jpg') %>" />
	<p class='speaker-info name'>ALEX ROSENFELD</p>
	<p class='speaker-info'>Founder & CEO at Vrideo</p>
</div>