<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('BradAllen.jpg') %>" />
	<p class='speaker-info name'>BRAD ALLEN</p>
	<p class='speaker-info'>Executive Chairman at NextVR</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('BruceWooden.jpg') %>" />
	<p class='speaker-info name'>BRUCE WOODEN</p>
	<p class='speaker-info'>Head of Development & Community Relations at AltspaceVR</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('JamesJensen.jpg') %>" />
	<p class='speaker-info name'>JAMES JENSEN</p>
	<p class='speaker-info'>CTO at The Void</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('MikeArmstrong.jpg') %>" />
	<p class='speaker-info name'>MIKE ARMSTRONG</p>
	<p class='speaker-info'>Founder & Developer at Riftmax</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('MikeMurdock.jpg') %>" />
	<p class='speaker-info name'>MIKE MURDOCK</p>
	<p class='speaker-info'>Co-Founder & Creative Director at Otherworld Interactive</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('EMcNeil.jpg') %>" />
	<p class='speaker-info name'>E McNEIL</p>
	<p class='speaker-info'>Creator of Darknet</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('DemetriusWren.jpg') %>" />
	<p class='speaker-info name'>DEMETRIUS WREN</p>
	<p class='speaker-info'>Film Maker</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('RobertHernandez.jpg') %>" />
	<p class='speaker-info name'>ROBERT HERNANDEZ</p>
	<p class='speaker-info'>Associate Professor of Professional Practice at USC Annenberg</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('MatthewTerndrup.jpg') %>" />
	<p class='speaker-info name'>MATTHEW TERNDRUP</p>
	<p class='speaker-info'>VR Journalist</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('IvanBlaustein.jpg') %>" />
	<p class='speaker-info name'>IVAN BLAUSTEIN</p>
	<p class='speaker-info'>Director, Product Integration at VRCade</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('CrisMiranda.jpg') %>" />
	<p class='speaker-info name'>CRIS MIRANDA</p>
	<p class='speaker-info'>Founder at EnterVR</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('ChristinaHeller.jpg') %>" />
	<p class='speaker-info name'>CHRISTINA HELLER</p>
	<p class='speaker-info'>CEO at VR Playhouse</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('NonnyDeLaPena.jpg') %>" />
	<p class='speaker-info name'>NONNY DE LA PEñA</p>
	<p class='speaker-info'>CEO & Founder at Emblematic Group</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('AlexxHenry.jpg') %>" />
	<p class='speaker-info name'>ALEXX HENRY</p>
	<p class='speaker-info'>CEO at blueVishnu</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('WillMason.jpg') %>" />
	<p class='speaker-info name'>WILL MASON</p>
	<p class='speaker-info'>Editor in Chief at UploadVR</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('ToddRevolt.jpg') %>" />
	<p class='speaker-info name'>TODD REVOLT</p>
	<p class='speaker-info'>Director of Strategic Alliances at Meta</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('KarlKrantz.png') %>" />
	<p class='speaker-info name'>KARL KRANTZ</p>
	<p class='speaker-info'>Organizer of SVVR</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('StJohnColon.jpg') %>" />
	<p class='speaker-info name'>ST. JOHN COLON</p>
	<p class='speaker-info'>Art Lead at Dreamworks Animation, Professor of Video Games at USC</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('TheresaDuringer.jpg') %>" />
	<p class='speaker-info name'>THERESA DURINGER</p>
	<p class='speaker-info'>Co-Creator of Bazaar</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('GabrielMiller.jpg') %>" />
	<p class='speaker-info name'>DR. GABRIEL MILLER</p>
	<p class='speaker-info'>Director of R&D at the San Deigo Zoo</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('WaltScacchi.jpg') %>" />
	<p class='speaker-info name'>WALT SCACCHI</p>
	<p class='speaker-info'>Head of R&D for VR at UCI</p>
</div>
<div class='speaker-img-cont two-thirds'>
	<div class='speaker-img-cont half'>
		<img class='speaker-img' src="<%= asset_path('ElaDarling.jpg') %>" />
		<p class='speaker-info name'>ELA DARLING</p>
		<p class='speaker-info'>VRTube</p>
	</div>
	<div class='speaker-img-cont half'>
		<img class='speaker-img' src="<%= asset_path('RickyBooker.jpg') %>" />
		<p class='speaker-info name'>RICKY BOOKER</p>
		<p class='speaker-info'>CEO at CumFundMe</p>
	</div>
</div>