<div class='container clearfix'>
	<h3 class='section-title'>SPONSORS</h3>
	<div class='column full'>
		<div class='sponsor-cont clearfix'>
			<h5 class='section-title'>DIAMOND</h5>
			<a href='http://www.nextvr.com/' target='_blank'>
				<div class='sponsor-img-cont'>
					<img class='sponsor-img' src="<%= asset_path('NextVR.png') %>" />
				</div>
			</a>
			<a href='http://zoo.sandiegozoo.org/' target='_blank'>
				<div class='sponsor-img-cont'>
					<img class='sponsor-img' src="<%= asset_path('SanDiegoZoo.png') %>" />
				</div>
			</a>
		</div>
		<div class='sponsor-cont clearfix'>
			<h5 class='section-title'>RUBY</h5>
			<a href='http://www.faststartstudio.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('FastStart.png') %>" />
				</div>
			</a>
			<a href='http://www.realofficecenters.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img style='height: 75%' class='sponsor-img' src="<%= asset_path('ROC.jpg') %>" />
				</div>
			</a>
			<a href='http://altvr.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('AltspaceVR.png') %>" />
				</div>
			</a>
		</div>
		<div class='sponsor-cont clearfix'>
			<h5 class='section-title'>EMERALD</h5>
			<a href='http://www.welens.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('Welens.png') %>" />
				</div>
			</a>
			<a href='http://www.audeze.com' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('Audeze.png') %>" />
				</div>
			</a>
			<a href='http://www.sidefx.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('Houdini.png') %>" />
				</div>
			</a>
		</div>
		<div class='sponsor-cont clearfix'>
			<h5 class='section-title'>COMMUNITY</h5>
			<a href='http://orangecountyvr.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img style='width: 100%' class='sponsor-img' src="<%= asset_path('OCVR.png') %>" />
				</div>
			</a>
			<a href='http://vrcade.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('VRCade.png') %>" />
				</div>
			</a>
			<a href='http://www.vgda.net/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('VGDA.png') %>" />
				</div>
			</a>
			<div class='clearfix'>
				<a href='http://www.virtualrealityla.com/' target='_blank'>
					<div class='sponsor-img-cont quarter'>
						<img class='sponsor-img' src="<%= asset_path('VRLA.png') %>" />
					</div>
				</a>
				<a href='http://svvr.com/' target='_blank'>
				<div class='sponsor-img-cont quarter'>
					<img class='sponsor-img' src="<%= asset_path('SVVR.png') %>" />
				</div>
			</a>
				<a href='http://www.meetup.com/Long-Beach-Virtual-Reality-Meetup/' target='_blank'>
					<div class='sponsor-img-cont quarter'>
						<img class='sponsor-img' src="<%= asset_path('VRLB.png') %>" />
					</div>
				</a>
				<a href='http://www.meetup.com/San-Diego-Virtual-Reality/' target='_blank'>
					<div class='sponsor-img-cont quarter'>
						<img class='sponsor-img' src="<%= asset_path('SDVR.png') %>" />
					</div>
				</a>
			</div>
			<div class='two-thirds clearfix'>
				<a href='http://3dff.org/' target='_blank'>
					<div class='sponsor-img-cont third'>
						<img class='sponsor-img' src="<%= asset_path('VRFest.png') %>" />
					</div>
				</a>
				<a href='#' target='_blank'>
					<div class='sponsor-img-cont third'>
						<img class='sponsor-img' src="<%= asset_path('SFVR.png') %>" />
					</div>
				</a>
				<a href='http://www.meetup.com/OCHackerz/' target='_blank'>
					<div class='sponsor-img-cont third odd'>
						<img class='sponsor-img' src="<%= asset_path('OCHackerz.jpg') %>" />
					</div>
				</a>
			</div>
		</div>
		<div class='sponsor-cont clearfix'>
			<h5 class='section-title'>MEDIA</h5>
			<a href='http://duncantrussell.com/' target='_blank'>
				<div class='sponsor-img-cont duncan'>
					<img class='sponsor-img duncan' src="<%= asset_path('DuncanTrussellFH.png') %>" />
				</div>
			</a>

			<a href='http://vrscout.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('VRScout.png') %>" />
				</div>
			</a>
			<a href='http://uploadvr.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('Upload.png') %>" />
				</div>
			<a href='http://vrfocus.com/' target='_blank'>
				<div class='sponsor-img-cont third'>
					<img class='sponsor-img' src="<%= asset_path('VRFocus.png') %>" />
				</div>
			</a>
			<div class='clearfix'>
				<a href='http://vrdigest.com/' target='_blank'>
					<div class='sponsor-img-cont fifth'>
						<img class='sponsor-img' src="<%= asset_path('VRDigest.png') %>" />
					</div>
				</a>
				<a href='http://voicesofvr.com/' target='_blank'>
					<div class='sponsor-img-cont fifth'>
						<img class='sponsor-img' src="<%= asset_path('VoicesOfVR.jpg') %>" />
					</div>
				</a>
				<a href='#' target='_blank'>
					<div class='sponsor-img-cont fifth'>
						<img class='sponsor-img' src="<%= asset_path('VRReporter.jpg') %>" />
					</div>
				</a>
				<a href='http://www.innerrift.com/' target='_blank'>
					<div class='sponsor-img-cont fifth'>
						<img class='sponsor-img' src="<%= asset_path('InnerRift.jpg') %>" />
					</div>
				</a>
				<a href='http://www.qgits.org/' target='_blank'>
					<div class='sponsor-img-cont fifth'>
						<img class='sponsor-img' src="<%= asset_path('Qgits.png') %>" />
					</div>
				</a>
			</div>
			<div class='two-thirds clearfix'>
				<a href='http://yourift.com/' target='_blank'>
					<div class='sponsor-img-cont quarter'>
						<img class='sponsor-img' src="<%= asset_path('YouRift.jpg') %>" />
					</div>
				</a>
				<a href='http://entervr.net/' target='_blank'>
					<div class='sponsor-img-cont quarter'>
						<img class='sponsor-img' src="<%= asset_path('EnterVR.png') %>" />
					</div>
				</a>
				<a href='#' target='_blank'>
					<div class='sponsor-img-cont quarter'>
						<img class='sponsor-img' src="<%= asset_path('VRCircle.png') %>" />
					</div>
				</a>
				<a href='http://ultraculture.org/' target='_blank'>
					<div class='sponsor-img-cont quarter'>
						<img class='sponsor-img' src="<%= asset_path('UltraCulture.jpg') %>" />
					</div>
				</a>
			</div>
			<div class='sponsor-cont clearfix'>
				<h5 class='section-title'>360° BROADCASTING AND RECORDING</h5>
				<a href='#' target='_blank'>
					<div class='sponsor-img-cont'>
						<img class='sponsor-img' src="<%= asset_path('VRLive.png') %>" />
					</div>
				</a>
				<a href='http://www.vrideo.com' target='_blank'>
					<div class='sponsor-img-cont'>
						<img class='sponsor-img' src="<%= asset_path('VRideo.png') %>" />
					</div>
				</a>
		</div>
	</div>
</div>