<div class='container clearfix'>
	<h3 class='section-title'>SPONSORS</h5>
	<div class='column full'>
		<div class='sponsor-cont clearfix'>
			<% @diamond.each do |sponsor| %>
				<div class='sponsor-img-cont diamond'>
					<img class='sponsor-img' src="<%= asset_path("#{sponsor.img}") %>" />
				</div>
			<% end %>
		</div>
		<div class='sponsor-cont clearfix'>
			<% @ruby.each do |sponsor| %>
				<div class='sponsor-img-cont'>
					<img class='sponsor-img' src="<%= asset_path("#{sponsor.img}") %>" />
				</div>
			<% end %>
		</div>
		<div class='sponsor-cont clearfix'>
			<% @community.each do |sponsor| %>
				<div class='sponsor-img-cont'>
					<img class='sponsor-img' src="<%= asset_path("#{sponsor.img}") %>" />
				</div>
			<% end %>
		</div>
		<div class='sponsor-cont clearfix'>
			<% @other.each do |sponsor| %>
				<div class='sponsor-img-cont duncan'>
					<img class='sponsor-img duncan' src="<%= asset_path("#{sponsor.img}") %>" />
				</div>
			<% end %>
			<% @media.each do |sponsor| %>
				<div class='sponsor-img-cont'>
					<img class='sponsor-img' src="<%= asset_path("#{sponsor.img}") %>" />
				</div>
			<% end %>
		</div>
	</div>
</div>