<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('DylanWatkins.jpg') %>" />
	<p class='speaker-info name'>DYLAN WATKINS</p>
	<p class='speaker-info'>Organizer</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('ChristopherCain.jpg') %>" />
	<p class='speaker-info name'>CHRISTOPHER CAIN</p>
	<p class='speaker-info'>Volunteer Coordinator</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('MatthewTerndrup.jpg') %>" />
	<p class='speaker-info name'>MATTHEW TERNDRUP</p>
	<p class='speaker-info'>Panels and Speakers Coordinator</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('AziaCelestino.jpg') %>" />
	<p class='speaker-info name'>AZIA CELESTINO</p>
	<p class='speaker-info'>AV - Coordinator</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('AaronLane.jpg') %>" />
	<p class='speaker-info name'>AARON LANE</p>
	<p class='speaker-info'>Business Development</p>
</div>
<div class='speaker-img-cont'>
	<img class='speaker-img' src="<%= asset_path('MattKinney.jpg') %>" />
	<p class='speaker-info name'>MATT KINNEY</p>
	<p class='speaker-info'>Developer Relations</p>
</div>
<div class='speaker-img-cont two-thirds clearfix'>
	<div class='speaker-img-cont half'>
		<img class='speaker-img' src="<%= asset_path('BrianLevine.jpg') %>" />
		<p class='speaker-info name'>BRIAN LEVINE</p>
		<p class='speaker-info'>Conference App Developer</p>
	</div>
	<div class='speaker-img-cont half'>
		<img class='speaker-img' src="<%= asset_path('SamWalston.jpg') %>" />
		<p class='speaker-info name'>SAM WALSTON</p>
		<p class='speaker-info'>Web Developer</p>
	</div>
</div>