<header>
	<h1 class='title animated flipInX'><span class='title_oc'>Orange County </span>VR</h1>
	<img class='header_img' src="<%= asset_path('sunset.png') %>" />
</header>
<main class='main' id='home_main'>
	<div class='container' id='subs_cont'>
		<h3 id='subs_title'>SUBSCRIBE</h3>
		<p id='subs_para'>Sign up with your email address to receive news about the latest OCVR events.</p>
		<form id='subs_form'>
			<input id='subs_form_input' type='text' placeholder='Email' />
			<input type='submit' value='Sign Up' />
		</form>
	</div>
	<div class='container' id='exhibitor_cont'>
		<a id='submission' type='button' href='http://goo.gl/forms/yX7IELD6iR' target='_blank'>SUMMER EXPO SUBMISSION FORM</a>
		<h1 id='exhibitor_title'>OCVR thanks our sponsors:</h1>
		<!-- Platinum Sponsors -->
		<div class='exhibitor_img clearfix' id='platinum'>
			<h5 class='exhibitor_img_title'>PLATINUM SPONSORS</h5>
			<div class='column half'>
				<img class='sponsor_img' src="<%= asset_path('Air_Herler.png') %>" />
			</div>
			<div class='column half'>
				<img class='sponsor_img' src="<%= asset_path('Sponsor-lifeinvader.jpg') %>" />
			</div>
		</div>
		<!-- Gold Sponsors -->
		<div class='exhibitor_img clearfix' id='gold'>
			<h5 class='exhibitor_img_title'>GOLD SPONSORS</h5>
			<div class='column half'>
				<img class='sponsor_img' src="<%= asset_path('AirEmu.png') %>" />
			</div>
			<div class='column half'>
				<img class='sponsor_img' src="<%= asset_path('Bmlogo-GTAV.png') %>" />
			</div>
		</div>
		<!-- Silver Sponsors -->
		<div class='exhibitor_img clearfix' id='silver'>
			<h5 class='exhibitor_img_title'>SILVER SPONSORS</h5>
			<div class='column third'>
				<img class='sponsor_img' src="<%= asset_path('CNT-Logo-GTAV.png') %>" />
			</div>
			<div class='column third'>
				<img class='sponsor_img' src="<%= asset_path('Fleeca_logo.jpg') %>" />
			</div>
			<div class='column third'>
				<img class='sponsor_img' src="<%= asset_path('FlyUS_logo.png') %>" />
			</div>
		</div>
		<!-- Bronze Sponsors -->
		<div class='exhibitor_img clearfix' id='bronze'>
			<h5 class='exhibitor_img_title'>BRONZE SPONSORS</h5>
			<div class='column fifth'>
				<img class='sponsor_img' src="<%= asset_path('Badger-logo.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('Burger_Shot-logo.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('E-Cola-logo.png') %>" />
			</div>
			<div class='column fifth'>
				<img class='sponsor_img' src="<%= asset_path('BF_logo.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('Pump&RunGymnasium-GTAV-Logo.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('Fruit-HD.png') %>" />
			</div>
			<div class='column fifth'>
				<img class='sponsor_img' src="<%= asset_path('Cluckinbelllogo.svg.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('GTAV-LSCustoms-Logo.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('V247Small.png') %>" />
			</div>
			<div class='column fifth'>
				<img class='sponsor_img' src="<%= asset_path('Binco_IV.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('Sprunk_Logo,_2008.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('TheBeanMachine-GTA4-logo.png') %>" />
			</div>
			<div class='column fifth'>
				<img class='sponsor_img' src="<%= asset_path('ZiT.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('Whiz-logo.png') %>" />
				<img class='sponsor_img' src="<%= asset_path('Up-n-Atom.png') %>" />
			</div>
		</div>
	</div>
</main>