<header class='carousel' id='header' data-scroll-speed='3'>
	<div class='carousel carousel-cont' id='slider-cont'>
  	<div u='slides' class='carousel carousel-slide'>
    	<div>
	      <img u='image' src="<%= asset_path('Jump.jpg') %>" />
	    </div>
	    <div>
	      <img u='image' src="<%= asset_path('360Hero.jpg') %>" />
	    </div>
	    <div>
	      <img u='image' src="<%= asset_path('Jump2.jpg') %>" />
	    </div>
	    <div>
	      <img u='image' src="<%= asset_path('RedCam.jpg') %>" />
	    </div>
	  </div>
	</div>
</header>

<main class='main home'>
	<div class='container full clearfix' id='expo-info-home'>
		<%= render 'partials/expoinfo' %>
	</div>

	<!-- <div class='clearfix' id='due_date_timer'></div> -->

	<!-- <div class='container clearfix'>
		<div class='column' id='attendee_button'>
			<a class='button' href='https://www.eventbrite.com/e/the-socal-virtual-reality-conference-expo-tickets-17219851038' target='_blank'>REGISTER FOR FREE</a>
		</div>
		<div class='column' id='ticket-iframe'>
			<iframe class='clearfix ticket-iframe' src='http://www.eventbrite.com/tickets-external?eid=17219851038'>
			</iframe>
		</div>
	</div> -->

	<!-- <div class='container clearfix'>
		<h3 class='section-title'>FEATURED 360 FILM STUDIOS</h3>
		<div class='column max-width-sml clearfix'>
			<%= render 'partials/exhibitors' %>
		</div>
		<div class='column'>
			<%= link_to 'MORE EXHIBITORS', exhibitors_path, class: 'button' %>
		</div>
	 </div> 
	<div class='container full clearfix' id='speakers-cont-home'>
	<h3 class='section-title'>FEATURED DIRECTORS</h5>
		<div class='column max-width-sml clearfix'>
			<%= render 'partials/speakers' %> 
		</div> 
		
	</div> --> 
	<!-- <%= render 'partials/sponsors' %> -->
	<%= render 'partials/map' %> 
</main>

<script>
	// var date = new Date(2015, 06, 12, 11, 00, 00);
  // $('#due_date_timer').countdown({until: date});
</script> -->