<header data-scroll-speed="3" id='header'>
	<div id="slider1_container" class='carousel_cont'>
  	<div u="slides" class='carousel_slide'>
    	<div>
	      <img u="image" src="<%= asset_path('slide1-min.jpg') %>" />
	    </div>
	    <div>
	      <img u="image" src="<%= asset_path('slide2-min.jpg') %>" />
	    </div>
	    <div>
	      <img u="image" src="<%= asset_path('slide3-min.jpg') %>" />
	    </div>
	  </div>
	</div>
</header>

<main class='main'>
	<%= render 'partials/sponsors' %>
	<%= render 'partials/expoinfo' %>
	<div class='container clearfix'>
		<div class='column full' id='attendee_button'>
			<a class='button' href='https://www.eventbrite.com/e/the-socal-virtual-reality-conference-expo-tickets-17219851038' target='_blank'>PURCHASE TICKETS</a>
		</div>
		<div class='column full' id='ticket-iframe'>
			<iframe class='clearfix ticket-iframe' src='http://www.eventbrite.com/tickets-external?eid=17219851038'>
			</iframe>
		</div>
	</div>
	<%= render 'partials/exhibitor' %>
	<div class='container clearfix' id='exhibitor-signup'>
		<div class='column full'>
			<%= link_to 'MORE EXHIBITORS', exhibitors_path, class: 'button' %>
		</div>
	</div>
	<%= render 'partials/speakers' %>
</main>
<%= render 'partials/map' %>