<!DOCTYPE html>
<html>
<head>
  <title>OCVR Demo Day Site</title>
  <link rel='stylesheet' src='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <%= javascript_include_tag 'application' %>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='navbar_web'>
	<ul class='nav_list_web animated' id='nav_list_web'>
		<li class='nav_btn_web nav_btn_border reverse_parallelogram'>
			<div class='nav_btn_web nav_btn_body'>
				<p class='nav_btn_label parallelogram'>About</p>
			</div>
		</li>
		<li class='nav_btn_web nav_btn_border reverse_parallelogram'>
			<div class='nav_btn_web nav_btn_body'>
				<p class='nav_btn_label parallelogram'>Expo</p>
			</div>
		</li>
		<li class='nav_btn_web logo' id='logo'>
			<%= link_to root_path do %>
				<img class='logo_img' src='<%= asset_path('ocvr.png') %>' />
			<% end %>
		</li>
		<li class='nav_btn_web nav_btn_border parallelogram'>
			<div class='nav_btn_web nav_btn_body'>
				<p class='nav_btn_label reverse_parallelogram'>Exhibitors</p>
			</div>
		</li>
		<li class='nav_btn_web nav_btn_border parallelogram'>
			<div class='nav_btn_web nav_btn_body'>
				<p class='nav_btn_label reverse_parallelogram'>Learn</p>
			</div>
		</li>
	</ul>
	<div class='nav_reveal circle hidden animated' id='nav_reveal_web'>
		<span></span>
	</div>
</nav>

<nav class='navbar_mobile'>
	<ul class='nav_list_mobile animated hidden' id='nav_list_mobile'>
		<li class='logo_img_mobile'>
			<%= link_to root_path do %>
				<img src='<%= asset_path('ocvr2.png') %>' />
			<% end %>
		</li>
		<li class='nav_btn_mobile'>
			<p class='nav_btn_label'>Expo</p>
		</li>
		<li class='nav_btn_mobile'>
			<p class='nav_btn_label'>Exhibitors</p>
		</li>
		<li class='nav_btn_mobile'>
			<p class='nav_btn_label'>About</p>
		</li>
		<li class='nav_btn_mobile' id='last_btn'>
			<p class='nav_btn_label'>Learn</p>
		</li>
	</ul>
	<div class='nav_reveal circle nav_reveal_mobile animated fadeInDown' id='nav_reveal_mobile'>
		<span></span>
	</div>
</nav>

<div class='cover'>
	<div class='hidden' id='cover'>
	</div>
</div>

<%= yield %>

<footer>
	<ul class='social_media_links'>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('Twitter_bird_icon.png') %>' />
			</a>
		</li>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('square-facebook-512.png') %>' />
			</a>
		</li>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('Instagram-icon.png') %>' />
			</a>
		</li>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('Youtube_Icon.png') %>' />
			</a>
		</li>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('RSS-feed-icon.png') %>' />
			</a>
		</li>
	</ul>
	<p class='contact_email'>placeholder@email.com</p>
</footer>

</body>
</html>
