<!DOCTYPE html>
<html>
<head>
  <title>SoCal VR Con</title>
  <link rel='stylesheet' src='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' />
  <link href='http://fonts.googleapis.com/css?family=Istok+Web|Montserrat' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jssor' %>
  <%= javascript_include_tag 'jssor.slider.mini' %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="></script>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='navbar_web'>
	<ul class='nav_list_web' id='nav_list_web'>
		<li class='nav_btn_web logo' id='logo'>
			<%= link_to root_path do %>
				<img class='logo_img' src='<%= asset_path('ocvr.png') %>' />
			<% end %>
		</li>
		<%= link_to expo_path do %>
			<li class='nav_btn_web'>
				<p class='nav_btn'>Expo</p>
			</li>
		<% end %>
		<li class='nav_btn_web'>
			<p class='nav_btn' id='sub_nav_btn'>Subscribe</p>
		</li>
	</ul>
	<div class='title_bar_fixed hidden' id='title_bar_fixed'>
		<p class='title_fixed'>SoCal Virtual Reality Conference</p>
	</div>
</nav>

<nav class='navbar_mobile'>
	<ul class='nav_list_mobile' id='nav_list_mobile'>
		<li class='logo_img_mobile'>
			<%= link_to root_path do %>
				<img src='<%= asset_path('ocvr2.png') %>' />
			<% end %>
		</li>
		<%= link_to expo_path do %>
			<li class='nav_btn_mobile'>
				<p>Expo</p>
			</li>
		<% end %>
	</ul>
	<div class='nav_reveal' id='nav_reveal'>
		<span></span>
	</div>
</nav>

<div class='title_bar' id='title_bar'>
	<p class='title_mobile'>SoCal VR Con</p>
	<p class='title_web' id='title_web'>SoCal Virtual Reality Conference</p>
</div>

<div class='modal'>
	<div class='modal_exit'>
		<i class='fa fa-times'></i>
	</div>
	<h1 class='modal_title'>SoCal VR Con</h1>
	<div class='modal_subscription_form'>
		<%= render 'homes/subscription_form' %>
	</div>
</div>

<%= yield %>

<div class='mobile_bg'>
	<div class='cover hidden' id='mobile_cover'>
	</div>
</div>

<div class='web_bg'>
	<div class='cover hidden' id='web_cover'>
	</div>
</div>

<footer>
	<ul class='social_media_links'>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('Twitter_bird_icon.png') %>' />
			</a>
		</li>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('square-facebook-512.png') %>' />
			</a>
		</li>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('Instagram-icon.png') %>' />
			</a>
		</li>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('Youtube_Icon.png') %>' />
			</a>
		</li>
		<li class='nav_btn_web'>
			<a href='/'>
				<img class='foot_btn_img' src='<%= asset_path('RSS-feed-icon.png') %>' />
			</a>
		</li>
	</ul>
	<div class='contact_cont'>
		<a class='contact_email' href='mailto:dylanwatkins@gmail.com?Subject=SoCal%20VR' target='_top' class='contact_email'>Contact Us</a>
	</div>
</footer>

</body>
</html>
