<!DOCTYPE html>
<html lang='en'>
<head>
  <title>SoCal VR Con</title>
  <link rel='stylesheet' src='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' />
  <link href='https://fonts.googleapis.com/css?family=Istok+Web|Montserrat' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="></script>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='nav-web'>
	<div class='nav-logo-cont'>
		<img class='nav-logo-img' src='<%= asset_path('SocalLogoSkinny2.png') %>' />
	</div>
	<ul class='nav-list-web'>
		<li class='inline-btn'>
			<p class='nav-btn-web' id='subscribe-btn'>Subscribe</p>
		</li>
	</ul>
</nav>

<%= render 'layouts/flash' %>

<%= yield %>

<%= render 'partials/modal' %>

<div class='mobile-bg'>
	<div class='cover hidden' id='mobile-cover'></div>
</div>

<div class='web-bg'>
	<div class='cover hidden' id='web-cover'></div>
</div>

<footer>
	<ul class='social_media_links'>
		<li class='nav_btn_web'>
			<a href='https://twitter.com/socalvr' target='_blank'>
				<div class='foot_btn_img' id='twitter'> </div>
			</a>
		</li>
		<li class='nav_btn_web'>
			<a href='https://www.facebook.com/SocalVR' target='_blank'>
				<div class='foot_btn_img' id='facebook'></div>
			</a>
		</li>
	</ul>
	<div class='contact_cont'>
		<a class='contact_email' href='mailto:dylanwatkins@gmail.com?Subject=SoCal%20VR' target='_top'>Contact Us</a>
	</div>
</footer>

</body>
</html>
